@import "tailwindcss";
body{
    background-color: #000000;
    color: white;
    
}

li{
    list-style: none;
    border: 0px solid;
    background-color: hsl(0, 3%, 14%);
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 6px;
    height: 45px;
    
}
button{
    border: 0px solid ;
    border-radius: 6px;
}
#submitBtn{
    padding: 5px;
}
#delete{
   padding: 2px;
   background-color: #d83c3c;
   float: right;  
}
#delete:hover{
    background-color: #e22424;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  min-width: 250px;
  max-width: 600px;
}
#todoInput{
    width: 60%;
    padding: 5px;
    border: 2px solid white;
    border-radius: 6px;
    padding: 3px;
}
